<div id="idea" class="idea">
  <div id="idea_title">
    <%= @idea.title %>
  </div>
  <br />
  <div id="idea_description" class="idea_description">
    <%= @idea.description %>
  </div>
  <br />
  <div id="idea_owner" class="idea_owner">
    <%= link_to @idea.owner, :controller => "users", :action => "view",:id => @idea.user_id%>
  </div>
  <div id="likes" class="likes">
    <%= @idea.like %> people like this idea.
  </div>
  <div id="dislikes" class="dislikes">
    <%= @idea.dislike %> people dislike this idea.
  </div>
</div>
