<ul>
  <li><%= link_to "Rails casts", "http://railscasts.com/" %></li>
  <li><%= link_to "Logo", "http://www.flickr.com/photos/smemon/4414374988/" %></li>
  <li><%= link_to "Twitter Bootstrap", "http://twitter.github.com/bootstrap/" %></li>
  <li><%= link_to "Devise", "https://github.com/plataformatec/devise" %></li>
  <li><%= link_to "RoR guide", "http://guides.rubyonrails.org/" %></li>
  <li><%= link_to "RoR tutorials", "http://ruby.railstutorial.org/" %></li>
</ul>