<h1>All Ideas</h1>
<%= form_tag ideas_path, :method => 'get', :id => "ideas_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <div id="ideas"><%= render 'ideas' %></div>
<% end %>


<% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, :class => "big_button round" %>
<% else %>
    <%= link_to "Have an idea?", new_idea_path, :class => "big_button round" %>
<% end %>